---
import i18next, { t, changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";

changeLanguage("es");

const lang = i18next.language;
const base = lang === "es" ? "" : `/${lang}`;
---

<Layout title={`RE+ MEXICO | Enligtenment Area`}>
  <main class='mx-5 md:mx-16 lg:mx-32 py-10'>
    <h1 class='text-left text-[#ed6b06] text-5xl font-extrabold py-5'>
      Contenido Gratuito
    </h1>
    <div class='grid md:grid-cols-2 gap-10'>
      <a
        href={`${base}/contenido-gratuito/enlightenment-area`}
        class='group relative block bg-black'
      >
        <img
          alt=''
          src='/img/conferences.webp'
          class='absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50'
        />

        <div class='relative p-4 sm:p-6 lg:p-8'>
          <p
            class='text-sm font-medium uppercase tracking-widest text-[#BD0500]'
          >
            RE+ MEXICO
          </p>

          <p class='text-xl font-bold text-white sm:text-2xl'>
            Enlightenmment Area
          </p>

          <div class='mt-32 sm:mt-48 lg:mt-64'>
            <div
              class='translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100'
            >
              <p class='text-sm text-white'>
                {t('enlightenmentArea.description')}
              </p>
            </div>
          </div>
        </div>
      </a>

      <a href={`#`} class='group relative block bg-black'>
        <img
          alt=''
          src='/img/conferences2.webp'
          class='absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50'
        />

        <div class='relative p-4 sm:p-6 lg:p-8'>
          <p
            class='text-sm font-medium uppercase tracking-widest text-[#BD0500]'
          >
            RE+ MEXICO
          </p>

          <p class='text-xl font-bold text-white sm:text-2xl'>
            Installer & Innovation Area
          </p>

          <div class='mt-32 sm:mt-48 lg:mt-64'>
            <div
              class='translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100'
            >
              <p class='text-sm text-white'>
                {t('program.comming_soon')}
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </main>
</Layout>
