---
import Layout from "../../layouts/Layout.astro";
import i18next, { t, changeLanguage } from "i18next";

changeLanguage("en");
---

<Layout title='Renew Energy Plus'>
  <section class='bg-[#EFEFEF] my-12 py-10 px-12 items-center'>
    <div class='flex justify-between items-center mx-40 my-10 '>
      <p class='text-2xl font-bold'>{t('AboutSNEC.title')}</p>
      <img src="/img/snec-logo-new.webp" alt="logo SNEC" class='w-[250px]'>
      </div>
      <p class='mx-12' set:html={t('AboutSNEC.description')}></p>
    </section>
</Layout>