---
import Layout from "../../layouts/Layout.astro";
import i18next, { t, changeLanguage } from "i18next";

changeLanguage("en");
---

<Layout title='RE+ MEXICO | acerca de snec'>
  <section class='bg-[#EFEFEF] my-12 py-10'>
    <div class='container mx-auto px-4'>
      <div class='flex justify-between items-center'>
        <p class='text-2xl font-bold'>{t('AboutSNEC.title')}</p>
        <img src='/img/snec-logo-new.webp' alt='logo SNEC' class='w-[250px]' />
      </div>
      <p set:html={t('AboutSNEC.description')} class='mb-5' />
      <a
        href='https://pv.snec.org.cn/'
        target='_blank'
        class='text-blue-800 font-bold'
      >
        https://pv.snec.org.cn/
      </a>
    </div>
  </section>
</Layout>
