---
import Layout from "../../layouts/Layout.astro";
import i18next, { t, changeLanguage } from "i18next";

changeLanguage("en");
---

<Layout title='RE+ MEXICO | eventos'>
  <section class='bg-[#EFEFEF] my-12 py-10'>
    <div class='container mx-auto px-4'>
      <div class='flex justify-between items-center'>
        <p class='text-2xl font-bold'>{t('AboutReEvents.title')}</p>
        <img
          src='/img/RE_Events_orange.webp'
          alt='logo Re+ Events'
          class='w-28'
        />
      </div>
      <p set:html={t('AboutReEvents.description')} class='mb-5' />
      <a
        href='https://www.replus.events/'
        target='_blank'
        class='text-blue-800 font-bold'>www.replus.events</a
      >
    </div>
  </section>
</Layout>
