---
import Contacts from "../../components/Contacts.astro";
import Layout from "../../layouts/Layout.astro";
import { t, changeLanguage } from "i18next";

changeLanguage("en");
---

<Layout title='RE+ MEXICO | Contacto'>
  <section class="px-2 my-10 ">
    <img
      src='/img/BgContact.webp'
      alt='fondo contacto'
      class='fixed inset-0 z-[-10] h-full w-full object-cover'
    />
    <Contacts />
  </section>
  <div class='bg-white'>
    <!-- <p class='relative z-0 px-4 py-8 text-center text-3xl font-bold sm:py-10 sm:text-4xl md:text-5xl'>
      {t('contactForm.title')}
    </p>
    <div class='mx-auto w-full max-w-4xl px-4 sm:px-6 lg:px-8'>
      <p class='form-label my-3'>{t('footer.name')}</p>
      <input
        name='name'
        required
        autocomplete='false'
        type='text'
        id='formBasicPassword'
        class='w-full rounded-md border border-[#DEE2E6] bg-[#F4F4F4] px-3 py-2'
      />
    </div>
    <div class='mx-auto mb-3 w-full max-w-4xl px-4 sm:px-6 lg:px-8'>
      <p class='form-label my-3'>{t('footer.email')}</p><input
        name='email'
        required=''
        autocomplete='false'
        type='email'
        id='formBasicEmail'
        class='w-full rounded-md border border-[#DEE2E6] bg-[#F4F4F4] px-3 py-2'
      />
    </div>
    <div class='mx-auto w-full max-w-4xl px-4 sm:px-6 lg:px-8'>
      <p class='form-label my-3'>{t('contactForm.subject')}</p>
      <input
        name='name'
        required
        autocomplete='false'
        type='text'
        id='formBasicPassword'
        class='w-full rounded-md border border-[#DEE2E6] bg-[#F4F4F4] px-3 py-2'
      />
    </div>
    <div class='mx-auto w-full max-w-4xl px-4 sm:px-6 lg:px-8'>
      <p class='form-label my-3'>{t('contactForm.message')}</p>
      <input
        name='name'
        required
        autocomplete='false'
        type='text'
        id='formBasicPassword'
        class='w-full rounded-md border border-[#DEE2E6] bg-[#F4F4F4] px-3 py-2'
      />
    </div>
    <div class='mx-auto w-full max-w-4xl px-4 py-5 sm:px-6 lg:px-8'>
      <div class='max-w-full overflow-x-auto' style='width: 304px; height: 78px;'>
        <div>
          <iframe
            title='reCAPTCHA'
            width='304'
            height='78'
            role='presentation'
            name='a-u4y91gs0yq3c'
            frameborder='0'
            scrolling='no'
            sandbox='allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation'
            src='https://www.google.com/recaptcha/api2/anchor?ar=2&k=6LeljqwnAAAAAHcToBhu6iq8o4kahL9sopQjC1A3&co=aHR0cHM6Ly9yZS1wbHVzLW1leGljby5pZ2Vjby5teDo0NDM.&hl=es&type=image&v=V6_85qpc2Xf2sbe3xTnRte7m&theme=light&size=normal&badge=bottomright&cb=ikhnqtfrmy71'
          ></iframe>
        </div><textarea
          id='g-recaptcha-response'
          name='g-recaptcha-response'
          class='g-recaptcha-response'
          style='width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;'
        ></textarea>
      </div><iframe style='display: none;'></iframe>
    </div>
    <button class='mx-auto rounded-lg bg-black px-5 text-lg font-bold text-white sm:mx-6 md:mx-8 md:text-xl lg:mx-10'>
      <p class='form-label my-3'>{t('contactForm.send')}</p>
    </button> -->
    <div class='mx-auto flex w-full max-w-5xl flex-col items-center justify-center gap-6 px-4 py-10 text-center sm:px-6 md:flex-row md:gap-8 md:text-left lg:px-8'>
      <img
        src='/img/igeco_logo_negro.webp'
        alt='logo igeco'
        class='h-auto w-[160px] sm:w-[190px] md:w-[200px]'
      />

      <div class='my-auto border-t border-black pt-5 md:border-l md:border-t-0 md:pl-5 md:pt-0'>
        <p>
          <strong>IGECO <br /></strong>
          Blvd. Francisco Villa 102, piso 14<br />
          Col. Oriental 37510 <br />
          León Guanajuato, México <br />
          Tel. +49 511 89-0
        </p>
        <div class='text-blue-600'>
          <a href='mailto:info@igeco.mx' target='_blank'>info@igeco.mx</a>
          |
          <a href='https://www.igeco.mx' target='_blank'>www.igeco.mx</a>
        </div>
      </div>
    </div>
  </div>
</Layout>
