---
import Layout from "../../layouts/Layout.astro";
import { EnlightenmentProgram } from "../../components/programa2026/EnlightenmentProgram.jsx";
import i18next, { t, changeLanguage } from "i18next";

changeLanguage("en");

const translate = t("workshops", { returnObjects: true });
const base = i18next.language === "es" ? "" : `/${i18next.language}`;
---

<Layout
  title="Enlightenment Program 2026 | Renew Energy Plus"
  description="Un espacio para conectar, aprender y descubrir, donde las empresas tecnológicas del sector energético comparten su experiencia, innovación, casos de éxito, tendencias y soluciones a través de charlas y capacitaciones especializadas."
>
  <section
    class="bg-gradient-to-b from-gray-900 via-gray-950 to-black py-10"
  >
    <div class="max-w-7xl mx-auto text-center">
      <h1 class="text-4xl font-extrabold text-white sm:text-5xl lg:text-6xl">
        ENLIGHTENMENT AREA
      </h1>
    </div>

    <div class="">
      <div class="">
        <EnlightenmentProgram language={i18next.language} client:only="react" />
      </div>
    </div>
  </section>
</Layout>
