---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";
import { t, changeLanguage } from "i18next";
import Sponsors from "../../components/Sponsors.astro";
import Tariffs from "../../components/Tariffs.astro";
import Card from "../../components/Card.astro";
import Contacts from "../../components/Contacts.astro";
import Logos from "../../components/Logos.astro";
import Galeria from "../../components/Galeria.astro";
import Testimonials from "../../components/Testimonials.astro";
import BuyersProfessional from "../../components/BuyersProfessional.astro";
import Exhibitors from "../../components/Exhibitors.astro";
import { gallery2024, gallery2025 } from "../../data/constans_gallery";
import FreeRegiter from "../../components/home/FreeRegiter.astro";

changeLanguage("en");
---

<Layout title='RE+ Mexico'>
  <Hero />
  <FreeRegiter />
  <section class='container mx-auto px-4 grid md:grid-cols-2 gap-10 py-10'>
    <div class='bg-white py-12 sm:text-xl text-justify'>
      <span class='text-[#565078] sm:text-2xl font-bold my-4'>RE+ MEXICO</span>
      <span set:html={t('home.solar_description')} />
    </div>
    <lite-youtube
      videoid='A4IS71JxSDc'
      posterquality='maxresdefault'
      params='controls=0&enablejsapi=1'></lite-youtube>
  </section>
  <Sponsors />
  <Card />
  <Tariffs />
  <Testimonials />
  <BuyersProfessional />
  <Exhibitors />
  <section class='container mx-auto px-4 my-10'>
    <p class='text-[#565078] text-3xl text-center font-bold p-10'>
      {t('home.title-testimonials')}
    </p>
    <div
      class='grid place-items-center md:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-6 gap-5'
    >
      <lite-youtube
        videoid='4yjpMxuDMTA'
        posterquality='maxresdefault'
        params='controls=0&enablejsapi=1'
        class='rounded-lg h-96 w-60'></lite-youtube>
      <lite-youtube
        videoid='Ws9BBT7zILk'
        posterquality='maxresdefault'
        params='controls=0&enablejsapi=1'
        class='rounded-lg h-96 w-60'></lite-youtube>
      <lite-youtube
        videoid='Ca1D_cxJYbs'
        posterquality='maxresdefault'
        params='controls=0&enablejsapi=1'
        class='rounded-lg h-96 w-60'></lite-youtube>
      <lite-youtube
        videoid='JiP0kqlvXFw'
        posterquality='maxresdefault'
        params='controls=0&enablejsapi=1'
        class='rounded-lg h-96 w-60'></lite-youtube>
      <lite-youtube
        videoid='4h8S2b3j_I4'
        posterquality='maxresdefault'
        params='controls=0&enablejsapi=1'
        class='rounded-lg h-96 w-60'></lite-youtube>
      <lite-youtube
        videoid='470LAzxXxJs'
        posterquality='maxresdefault'
        params='controls=0&enablejsapi=1'
        class='rounded-lg h-96 w-60'></lite-youtube>
    </div>
  </section>
  <div class='bg-gradient-to-r from-[#766EA6] to-[#565078] pb-10'>
    <Contacts />
    <div
      class='transition duration-300 bg-white hover:bg-[#0CCB67] hover:text-white px-5 mx-auto text-center font-bold text-xl p-3 rounded-lg my-5 w-72'
    >
      <p>{t('contactForm.title')}</p>
    </div>
  </div>
  <section class='container mx-auto px-4'>
    <p class='text-center text-3xl text-[#565078] m-7 font-bold uppercase'>
      {t('menu.submenu_5.option_1')} RE+ 2025
    </p>
    <Galeria images={gallery2025} />
  </section>
  <Logos />
</Layout>

<script>
  import '@justinribeiro/lite-youtube'
</script>
