---
import Layout from "../../layouts/Layout.astro";
import { t, changeLanguage } from "i18next";

changeLanguage("en");
---

<Layout title='RE+ Mexico | perfil visitante'>
  <section>
    <div class='px-20 my-16 pt-10 bg-[#EFEFEF]'>
      <p class='pb-5'><i>RE+ MEXICO</i></p>
      <p class='bg-[#EFEFEF] text-5xl font-bold'>{t('VisitorProfile.title')}</p>
      <div class='grid md:grid-cols-2 container'>
        <div class='p-10 bg-[#EFEFEF]'>
          <div
            class='text-sm *:list-disc'
            set:html={t('VisitorProfile.description')}
          />
        </div>
        <img src='/img/bgVisitorProfile.webp' class='m-5 object-cover h-full' />
      </div>
      <div class='mt-10 grid md:grid-cols-2 gap-5'>
        <img
          src='/img/bgVisitorProfile2.webp'
          class='m-5 object-cover h-full'
        />
        <div class='px-12 py-16 bg-[#EFEFEF]'>
          <div
            class='text-sm *:list-disc'
            set:html={t('VisitorProfile.description2')}
          />
        </div>
      </div>
    </div>
  </section></Layout
>
<style>
  ul {
    padding-left: 2rem;
    list-style-type: none;
  }

  ul li {
    padding-left: 2rem;
    background-image: url('/img/cog.svg');
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
  }
</style>
