---
import Layout from "../../layouts/Layout.astro";
import i18next, { t, changeLanguage } from "i18next";

changeLanguage("en");
---

<Layout title='RE+ Mexico | por que visitar'>
  <section class=''>
    <div class='pt-10 bg-[#EFEFEF]'>
      <p class='bg-[#EFEFEF] text-5xl font-bold p-20'>{t('WhyVisit.title')}</p>
      <div class='grid md:grid-cols-2 gap-5'>
        <div class='pl-12 pb-10 bg-[#EFEFEF]'>
          <p class='text-sm' set:html={t('WhyVisit.description')} />
        </div>
        <img class='m-5 object-cover h-full' src='/img/bgWhyvisit.webp' />
      </div>
    </div>
    <img
      src='/img/PorQueAsistir.webp'
      alt=''
      class='bg-[#EFEFEF] pb-14 mb-14'
    />
  </section>
</Layout>
