---
import Layout from "../layouts/Layout.astro";
import { t, changeLanguage } from "i18next";

changeLanguage("es");
---

<Layout title='RE+ Mexico | nosotros'>
  <section class='m-10'>
    <p class='my-5 text-gray-500 italic'>RE+ MEXICO</p>
    <p class='text-3xl font-bold'>{t('AboutSSM.title')}</p>
    <div class='grid md:grid-cols-2 my-7'>
      <div class='bg-[#EFEFEF] p-5 mr-5'>
        <p class='font-bold my-5'>RE+ MEXICO</p>
        <p class='' set:html={t('AboutSSM.description')} />
        <p
          class='font-bold my-5 text-center'
          set:html={t('AboutSSM.description2')}
        />
      </div>
      <img
        src='/img/gallerySSM2023-7.webp'
        alt=''
        class='object-cover h-full'
      />
    </div>
  </section>
</Layout>
