---
import Layout from "../layouts/Layout.astro";
import i18next, { t, changeLanguage } from "i18next";
import ListDirectory from "../components/directorio-digital/ListDirectory";

changeLanguage("es");

const currentLanguage = i18next.language;
---

<Layout title={t("program.title")}>
    <!-- título -->
    <p class="text-3xl text-center font-bold uppercase mb-2">
        {t("home.digital_directory")}
    </p>

    <!-- lista de expositores -->
    <div class="relative flex flex-row">
        <ListDirectory
            currentLanguage={currentLanguage}
            client:only="react"
        />

        <div class="mt-10 flex flex-row justify-center gap-5">
            <section
                class="container mx-auto px-4 py-10 relative md:grid md:grid-flow-col gap-10"
            >
                <div class="relative w-96" data-astro-cid-r2nhgi25="">
                    <div class="sticky top-0" data-astro-cid-r2nhgi25="">
                        {

                                //Publicidad
                                /* 
                        <a
                        href="https://www.se.com/mx/es/"
                        target="_blank"
                        data-astro-cid-r2nhgi25=""
                    >
                        <img
                            src="/img/banner-directorio-digital-2.webp"
                            alt="Schneider"
                            class="w-96"
                            data-astro-cid-r2nhgi25=""
                        />
                    </a>
                     */
                        }
                    </div>
                </div>
            </section>
        </div>

        <!-- Espacio publicitario -->
    </div>
</Layout>
