---
import Layout from "../layouts/Layout.astro";
import i18next, { t, changeLanguage } from "i18next";
import ListDirectory from "../components/directorio-digital/ListDirectory";

changeLanguage("es");

const currentLanguage = i18next.language;
---

<Layout title={t("home.digital_directory")}>
  <!-- título -->
  <p class="text-3xl text-center font-bold uppercase mb-4 mt-10">
    {t("home.digital_directory")}
  </p>

  <!-- lista de expositores -->
  <div class="z-0 relative flex flex-col md:flex-row gap-0 px-8">
    <div class="md:w-3/4">
      <ListDirectory currentLanguage={currentLanguage} client:only="react" />
    </div>

    <div class="flex m-8 md:w-1/4 md:px-0">
      <section
        class="relative container mx-auto pt-18 md:grid md:grid-flow-col w-full"
      >
        <div class="relative">
          <div class="sticky top-24">
            <a href="https://www.made-in-china.com/" target="_blank">
              <img
                src="/img/banners/banner_directorio_digital.webp"
                alt="Banner"
                class="w-11/12 mx-auto"
              />
            </a>
          </div>
        </div>
      </section>
    </div>
  </div>
</Layout>
