---
import { t, changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";
import { AddEnergyNight } from "../components/ecommerce/AddEnergyNight.jsx";
import Carousel from "../components/energy-night/Carousel.astro";

changeLanguage("es");

const item = {
    id: 2,
    name: "ENERGY NIGHT Mi\u00E9rcoles 5 de Marzo",
    name_en: "ENERGY NIGHT Wednesday, March 5th",
    price: 1000,
    included: [
        "1 Entrada para la Energy Night con acceso a bebidas ilimitadas y snack.",
        "Acceso mi\u00E9rcoles 14 de abril en Desfilia, Expo Guadalajara.",
        "Recepci\u00F3n 6:15 p.m.",
        "Inicio del evento 6:30 p.m.",
        "Fin del evento 10:00 p.m.",
    ],
    included_en: [
        "1 Ticket for the Energy Night with unlimited drinks and snacks.",
        "Access Wednesday, April 14 at Desfilia, Expo Guadalajara.",
        "Reception 6:15 p.m.",
        "Event start 6:30 p.m.",
        "Event end 10:00 p.m.",
    ],
};
const translate = t("ecommerce", { returnObjects: true });
---

<Layout title='Energy Night - Evento Exclusivo'>
  <section
    class='relative w-full text-white bg-[#6D669A] bg-cover bg-no-repeat bg-center lg:bg-top'
  >
    <video
      autoplay
      muted
      loop
      class='w-full h-full object-cover top-0 left-0 z-0'
    >
      <source src='/video/bg_energy.mp4' type='video/mp4' />
      Your browser does not support the video tag.
    </video>

    <div
      class="bg-[url('/img/bg_energy_1.webp')] bg-cover bg-no-repeat bg-fixed bg-center py-20"
    >
      <div
        data-aos='fade-up'
        data-aos-duration='1300'
        class='container mx-auto px-4 text-center'
      >
        <p class='text-5xl uppercase font-extrabold'>{t('home.energy_date')}</p>
        <p class='font-bold text-2xl'>Salón Desfilia, Expo Guadalajara</p>
        <p class='mt-5 text-5xl font-sans leading-[4rem]'>
          {t('energynight.text_1')}
          <span class='bg-black rounded-md'>{t('energynight.text_4')}.</span>
        </p>

        <p class='mt-5 text-2xl' set:html={t('energynight.text_5')} />
      </div>
      <div
        class='container mx-auto px-4 grid md:grid-cols-2 gap-10 mt-10 place-items-center'
      >
        <div data-aos='fade-up' data-aos-duration='1300'>
          <p class='mt-5 text-4xl font-semibold'>{t('energynight.text_6')}</p>
          <div class='mt-5 flex gap-5 items-center'>
            <div>
              <p><strong>{t('energynight.text_7')} </strong></p>
              <p>
                {t('energynight.text_8')}
              </p>
            </div>
          </div>
          <div class='mt-5 flex gap-5 items-center'>
            <div>
              <p><strong>{t('energynight.text_9')} </strong></p>
              <p>
                {t('energynight.text_10')}
              </p>
            </div>
          </div>
          <div class='mt-5 flex gap-5 items-center'>
            <div>
              <p><strong>{t('energynight.text_11')} </strong></p>
              <p>
                {t('energynight.text_12')}
              </p>
            </div>
          </div>
        </div>
        <div
          data-aos='fade-up'
          data-aos-duration='1300'
          class='w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-8'
        >
          <h5 class='mb-4 text-xl font-extrabold text-gray-800'>
            ENERGY NIGHT
          </h5>
          <div class='flex items-baseline text-gray-900'>
            <span class='text-3xl font-semibold'>$</span>
            <span class='text-5xl font-extrabold tracking-tight'>1350</span>
            <span class='ms-1 text-xl font-normal text-gray-500'>/persona</span>
          </div>
          <ul role='list' class='space-y-5 my-7'>
            <li class='flex items-center'>
              <svg
                class='shrink-0 w-4 h-4 text-[#A399C7]'
                aria-hidden='true'
                xmlns='http://www.w3.org/2000/svg'
                fill='currentColor'
                viewBox='0 0 20 20'
              >
                <path
                  d='M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z'
                ></path>
              </svg>
              <p class='text-base font-normal leading-tight text-gray-800 ms-3'>
                {t('energynight.text_14')}
                <strong>Energy Night</strong><br />
                <span class='italic'>{t('energynight.text_15')} *</span>
              </p>
            </li>
            {
              /* <AddEnergyNight item={item} translate={translate} client:only />*/
            }
            <p class='text-black'>{t('program.comming_soon')}</p>
          </ul>
        </div>
      </div>
    </div>
    <section
      class="bg-[url('/img/bg_energy_2.webp')] bg-cover bg-no-repeat bg-fixed bg-center py-20"
    >
      <div class='text-center py-10 text-white'>
        <p class='lg:text-5xl font-semibold'>{t('energynight.text_21')}</p>
        <p class='lg:text-7xl font-extrabold'>{t('energynight.text_22')}</p>
        <p class='text-2xl'>{t('energynight.text_23')}</p>
        <p class='font-bold text-2xl'>
          {t('energynight.text_23')}
          <span class='text-[#A1A4F3]'>{t('energynight.text_4')} </span>.
        </p>
      </div>
      <div
        class='bg-[#4E549E] text-center py-5 text-xl text-white w-fit mx-auto px-10 rounded-full my-10'
        set:html={t('energynight.text_25')}
      />
    </section>
    <section
      class='bg-[url(/img/bg_energy_3.webp)] bg-cover bg-no-repeat bg-fixed py-20'
    >
      <a
        href='/doc/RE-MEXICO-SPONSORSHIPS-2025-ENG-06122024_compressed.pdf'
        target='_blank'
        class='bg-[#4E549F] hover:bg-[#4E549F] text-white rounded-full py-6 px-10 flex mx-auto w-fit text-center font-bold text-2xl md:text-4xl'
      >
        {t('energynight.text_26')}
      </a>
    </section>
    <section class='container mx-auto px-4 my-10'>
      <lite-youtube
        videoid='NO4XkhzFRnU'
        posterquality='maxresdefault'
        params='controls=0&enablejsapi=1'
        class='rounded-lg w-full'></lite-youtube>
    </section>
    <section class='container mx-auto px-4 py-10'>
      <div class='grid md:grid-cols-2 gap-10 items-center'>
        <div class='text-xl space-y-5 text-justify'>
          <p class='uppercase font-bold'>
            energy night, {t('energynight.text_28')}
          </p>
          <p>
            {t('energynight.text_27')}
          </p>
        </div>
        <Carousel />
      </div>
    </section>
    <style>
      @font-face {
        font-family: 'MiFuente';
        src: url('/fonts/gomarice_yatsurano_western.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      .mi-titulo {
        font-family: 'MiFuente', sans-serif;
      }
      .mi-titulo-container {
        padding-top: 200px; /* Ajusta este valor como desees */
      }
      img.absolute {
        position: absolute;
        top: 2rem; /* Ajusta según el espacio que desees desde la parte superior */
        right: 2rem; /* Ajusta según el espacio que desees desde la parte derecha */
        width: 7rem; /* Ajusta el tamaño de la imagen */
        height: 6rem; /* Ajusta el tamaño de la imagen */
        z-index: 20; /* Asegúrate de que esté encima de otros elementos */
      }
      .contorno {
        -webkit-text-stroke: 1px #ffffff;
        -webkit-text-fill-color: transparent;

        /* fallback */
        color: #333;
      }
    </style>

    <script>
      import '@justinribeiro/lite-youtube'
    </script>
  </section>
</Layout>
