---
import { imageConfig } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import i18next, { t } from 'i18next';
import Galeria from '../components/Galeria.astro';
---

<Layout title='Renew Energy Plus'>
  <section class='my-10'>
    <Galeria />
  </section>
</Layout>