---
import { t, changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";
import Recinto from "../components/hotel/Recinto.astro";
import TarifasHoteles from "../components/hotel/TarifasHoteles.astro";

changeLanguage("es");
---

<Layout title='RE+ MEXICO | Hoteles'>
  <div class='container mx-auto'>
    <Recinto />
    <TarifasHoteles />
    <p class='mt-3 mx-12 md:text-justify text-center my-10'>{t('program.comming_soon')}</p>
  </div>
</Layout>
