---
import { changeLanguage } from 'i18next';
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Content from '../components/Content.astro';
import i18next, { t } from 'i18next';
import Sponsors from '../components/Sponsors.astro';
import Tariffs from '../components/Tariffs.astro';
import Card from '../components/Card.astro';
import { MarqueeReact } from '../components/MarqueeReact';

import Contacts from '../components/Contacts.astro';
import Logos from '../components/Logos.astro';
import type { visibilityChangeEvent } from '@tsparticles/engine';
import Galeria from '../components/Galeria.astro';
import Results from '../components/Results.astro';
import Testimonials from '../components/Testimonials.astro';
import BuyersProfessional from '../components/BuyersProfessional.astro';
import Exhibitors from '../components/Exhibitors.astro';

changeLanguage('es');
---

<Layout title='Renew Energy Plus'>
	<Hero />
	<div
		class='bg-white align-middle w-72 sm:w-[420px] m-auto py-12 sm:text-xl text-justify'
	>
		<p class='text-[#ed6b06] sm:text-2xl font-bold my-4'>RE+ MEXICO</p><strong
			>Solar+ Storage MEXICO 2024 </strong
		>
		<p set:html={t('home.solar_description')} />
	</div>
	<Content />
	<Sponsors />
	<!-- <Card />
	<Tariffs/>
	<Results />
	<Testimonials />
	<BuyersProfessional />
	<Exhibitors /> -->
	
	<!-- <Responsive client:only="react"/> -->
	<!-- <div
		class='bg-[linear-gradient(90deg,_rgba(188,1,0,1)_0%,_rgba(215,105,1,1)_100%)] pb-10'
	>
		<Contacts />
	<div
			class='transition duration-300 bg-white hover:bg-[#0CCB67] hover:text-white px-10 mx-auto w-[450px] text-center font-bold text-3xl p-3 rounded-lg my-5'
		>
			<p>{t('contactForm.title')}</p>
		</div>
	</div>
	<Galeria />

	<Logos />
</Layout> -->

<script>
	import '@justinribeiro/lite-youtube';
</script>
