---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import { changeLanguage } from "i18next";
import Sponsors from "../components/Sponsors.astro";
import Logos from "../components/Logos.astro";
import GaleriaHome from "../components/home/GaleriaHome.astro";
import BuyersProfessional from "../components/BuyersProfessional.astro";
import Exhibitors from "../components/Exhibitors.astro";
import BecomeExhibitor from "../components/home/BecomeExhibitor.astro";
import Cifras from "../components/home/Cifras.astro";
import Segmentos from "../components/home/Segmentos.astro";
import Recinto from "../components/hotel/Recinto.astro";
import Experience from "../components/home/Experience.astro";
import Highlights from "../components/home/Highlights.astro";
import HomePopup from "../components/home/HomePopup.jsx";

changeLanguage("es");
---

<Layout title='RE+ MEXICO'>
  <Hero />
  <BecomeExhibitor />
  <Cifras />
  <Segmentos />
  <Sponsors />
  <Highlights />
  <GaleriaHome />
  <Experience />
  <BuyersProfessional />
  <Exhibitors />
  <Logos />
  <Recinto />
  <section class='container mx-auto px-4 my-20'>
    <iframe
      src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1109.9423765640831!2d-103.39088095688885!3d20.65385865406387!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428addaf761b92d%3A0x2f0e04ac2a4f3e36!2sExpo%20Guadalajara!5e0!3m2!1ses!2smx!4v1759442798429!5m2!1ses!2smx'
      class='w-full'
      height='450'
      style='border:0;'
      allowfullscreen=''
      loading='lazy'
      referrerpolicy='no-referrer-when-downgrade'></iframe>
  </section>
</Layout>
