---
import Layout from "../layouts/Layout.astro";
import { t, changeLanguage } from "i18next";

changeLanguage("es");
---

<Layout title='RE+ Mexico | perfil expositor'>
  <section>
    <p class='bg-[#EFEFEF] mt-10 py-14 px-20'>
      <i>RE+ MEXICO</i>
      <br />
      <strong class='text-3xl'>{t('menu.submenu_2.option_3')}</strong>
    </p>
    <p
      class='bg-white text-justify form-label py-10 px-20'
      set:html={t('ExhibitorProfile.description')}
    />
    <div class='grid md:grid-cols-2 text-sm'>
      <div class='bg-[#EFEFEF]'>
        <p
          class='text-justify form-label py-10 px-10'
          set:html={t('ExhibitorProfile.description2')}
        />
      </div>
      <img
        src='/img/bgExhibitorProfile2.webp'
        alt='Re+ México perfil expositor'
        class='object-cover h-full'
      />
    </div>
    <div class='grid md:grid-cols-2'>
      <img
        src='/img/bgExhibitorProfile.webp'
        alt='Re+ México perfil expositor'
        class='object-cover h-full'
      />
      <div class='bg-[#EFEFEF]'>
        <p
          class='text-justify form-label py-10 px-10'
          set:html={t('ExhibitorProfile.description3')}
        />
      </div>
    </div>
  </section>
</Layout>
