---
import Layout from '../layouts/Layout.astro';
import i18next, { t } from 'i18next';
---

<Layout title='Renew Energy Plus'>
	<section>
		<div class='bg-[#EFEFEF]'> 
			<p class='my-5 p-10'>
				<i>SOLAR + STORAGE MEXICO</i>
				<br />
				<strong class='text-3xl'>Por qué exponer</strong>
			</p>
		</div>
		<img src='/img/BeneficiosExpositor.webp' alt='' class='w-[1296px] h-[966px] p-10 m-auto' />
	</section>
</Layout>
