---
import Layout from '../layouts/Layout.astro'
import i18next, { t } from 'i18next'
---

<Layout title='RE+ México | por que exponer'>
  <section class='container mx-auto p-5'>
    <div class='bg-[#EFEFEF]'>
      <p class='my-5 p-10'>
        <i>SOLAR + STORAGE MEXICO</i>
        <br />
        <strong class='text-3xl'>Por qué exponer</strong>
      </p>
    </div>
    <img src='/img/BeneficiosExpositor.webp' alt='' class='w-full' />
  </section>
</Layout>
