---
import Layout from "../layouts/Layout.astro";
import i18next, { t, changeLanguage } from "i18next";
import { program_premium } from "../data/constans_program_premium";

changeLanguage("es");
---

<Layout title='RE+ Mexico | programa premium'>
  <div class='bg-[#111827] text-black p-16 font-bold'>
    <h1 class='text-left text-[#ed6b06] text-5xl font-extrabold py-5'>
      {t('program.title_1')}
    </h1>
    <div class='mt-10 text-white'>
      {
        program_premium.map((program, index) => {
          return (
            <p class='my-5'>
              {index + 1}.- {program.title}
            </p>
          )
        })
      }
    </div>
  </div>
</Layout>
