---
import i18next, { changeLanguage, t } from "i18next";
import { Items } from "../components/ecommerce/Items";
import Products from "../components/ecommerce/Products.astro";
import { Total } from "../components/ecommerce/Total.jsx";
import LayoutCheckout from "../layouts/LayoutCheckout.astro";
import { Continue } from "../components/ecommerce/Continue.jsx";
import { Coupon } from "../components/ecommerce/Coupon.jsx";

changeLanguage("es");

const currentLanguage = i18next.language;
const lang = i18next.language;
const base = lang === "es" ? "" : `/${lang}`;
---

<LayoutCheckout title='RE+ MEXICO | productos'>
  <main class='md:flex grid'>
    <section class='p-5 sm:p-10 w-full sm:w-3/4 sm:order-1'>
      <div
        class='flex items-center gap-5 bg-gray-700 p-2 text-white rounded-md'
      >
        <img
          src='/img/logoREPLUS.webp'
          alt='REPLUS MEXICO'
          class='w-24 drop-shadow-xl'
        />
        <p class='font-extrabold text-sm md:text-2xl'>
          {t('ecommerce.description')}
          <br />
        </p>
      </div>
      <Products />
    </section>
    <aside
      class='sm:fixed right-0 top-0 z-50 p-5 w-full sm:w-1/4 sm:order-2 bg-[#f7f7f8] h-auto sm:h-full border rounded-lg shadow-lg overflow-y-scroll'
    >
      <p class='text-center text-2xl font-extrabold hidden md:block text-black uppercase'>
        {t('ecommerce.resume')}
      </p>
      <Items client:only="react" currentLanguage={currentLanguage} />

      <Total client:only="react" />
      
      <!-- Coupon Component -->
       <h2 class='text-center md:text-left text-xl sm:text-base font-extrabold mt-8 text-black uppercase'>
        { lang === "es" ? "Captura tu código de descuento" : "Enter your discount code" }
      </h2>
      <Coupon
        client:only="react"
        text1={t('ecommerce.cupon_text')}
        text2={t('ecommerce.cupon')}
        language={currentLanguage}
      />

      <!-- Continue Button Component -->
      <Continue client:only="react" translate={t('ecommerce.continue')} base={base} />

    </aside>
  </main>
</LayoutCheckout>
