---
import Layout from '../layouts/Layout.astro'
import i18next, { t, changeLanguage } from 'i18next'

changeLanguage('es')
---

<Layout title='RE+ Mexico'>
  <div class='bg text-center text-white p-16 font-bold mb-14'>
    <p class='sombra text-6xl text-shado'>{t('program.title_1')}</p>
    <p class='text-4xl mt-10'>{t('program.comming_soon')}</p>
  </div>
</Layout>
<style>
  .bg {
    background: rgb(150, 76, 172);
    background: linear-gradient(
      90deg,
      rgba(150, 76, 172, 1) 0%,
      rgba(204, 159, 240, 1) 100%
    );
  }
  .sombra {
    text-shadow: 5px 5px 12px #000000;
  }
</style>
