---
import i18next, { changeLanguage, t } from "i18next";
import { RegisterForm } from "../components/register/RegisterForm.jsx";
import LayoutRegister from "../layouts/LayoutRegister.astro";
import { sponsors } from "../data/constanst_logos.js";
import MarqueeSponsors from "../components/register/MarqueeSponsors.astro";

changeLanguage("es");

const registerTranslations = t("register", { returnObjects: true });
const currentLanguage = i18next.language;
---

<LayoutRegister title='RE+ Mexico | Registro'>
  <main class='py-5 grid w-full content-center container mx-auto px-4'>
    <section class='mb-10 max-w-screen-lg mx-auto'>
      <MarqueeSponsors partners={sponsors} isLeftToRight />
    </section>
    <h1 class='text-center font-extrabold text-4xl'>
      {t('register.title')}
    </h1>
    <p class='text-center text-2xl font-bold'>
      {t('register.description')}
    </p>
    <RegisterForm
      translates={registerTranslations}
      currentLanguage={currentLanguage}
      client:only='react'
    />
  </main>
</LayoutRegister>
<style>
  body {
    background-color: white;
    color: black;
  }
</style>
