---
import { t } from 'i18next'
---

<section
  class='bg-gradient-to-r from-[#766EA6] to-[#565078] text-white text-center py-20 relative overflow-hidden'
>
  <img
    src='/img/topleftballs.webp'
    alt='REPLUS'
    class='pe-5 absolute -top-60 -right-36 fade-in-scale'
  />
  <div class='container mx-auto px-4 relative z-10'>
    <div data-aos='fade-down' data-aos-duration='1000' class='mt-10'>
      <p class='font-extrabold text-white text-5xl gap-6 uppercase'>
        {t('home.event-date')}, 2026<br />
        EXPO GUADALAJARA, JALISCO
      </p>
      {
        /*<p class='text-white text-xl' set:html={t('home.solar_date_hours')} />*/
      }
    </div>
    <p class='mt-5 text-white text-xl text-center'>
      <span class='sm:text-2xl font-bold my-4'>RE+ MEXICO </span>
      <span set:html={t('home.solar_description')} />
    </p>
    <div class='mt-20' data-aos='zoom-in-up' data-aos-duration='2000'>
      <a
        class='text-white text-5xl py-2 px-4 rounded-md border-2 border-white hover:bg-white hover:text-[#565078] transition duration-300 font-extrabold'
        href='/quiero-ser-expositor'
      >
        {t('menu.submenu_2.option_2')}
      </a>
    </div>
  </div>
  <img
    src='/img/topleftballs.webp'
    alt='REPLUS'
    class='pe-5 absolute -bottom-48 -left-36 fade-in-scale -z-0'
  />
</section>
