---
import { MarqueeReact } from '../components/MarqueeReact';
import { buyers1, buyers2, buyers3, buyers4 } from '../data/constanst_buyers';
---

<section>
	<p class='text-center text-5xl font-bold text-[#ed6b06] m-8'>
		Professional Buyers
	</p>
	<div class='flex flex-row justify-center'>
    <div class='w-[420px] content-center'>
		<div
			class=' m-auto relative flex justify-center h-[300px] w-[160px] border-4 border-black rounded-2xl bg-gray-50'
			style='  box-shadow: 5px 5px 2.5px 6px rgb(209, 218, 218)'
		>
			<span
				class='border-4 border-black bg-black w-20 h-2 rounded-br-xl rounded-bl-xl'
			>
				<p class='text-center text-3xl my-28 mx-auto'>
					80%
				</p>
			</span>

			<span
				class='absolute -right-2 top-14 border-4 border-black h-7 rounded-md'
			></span>

			<span
				class='absolute -right-2 bottom-36 border-4 border-black h-10 rounded-md'
			></span>
		</div>
  </div>
		<div class='basis-2'>
			<MarqueeReact images={buyers1} client:only='react' />
			<MarqueeReact images={buyers2} , direction='left' client:only='react' />
			<MarqueeReact images={buyers3} client:only='react' />
			<MarqueeReact images={buyers4} , direction='left' client:only='react' />
		</div>
	</div>
</section>
