---
import { buyers } from '../data/constanst_buyers'
import { t } from 'i18next'
---

<section class='container mx-auto px-4'>
  <p class='text-center text-5xl font-bold text-[#565078] m-8'>
    Professional Buyers
  </p>

  <div class='grid lg:flex lg:justify-center mx-10 items-center'>
    <div class='flex items-center justify-center'>
      <div
        class='relative p-3 lg:animate-spin drop-shadow-3xl bg-gradient-to-bl from-orange-400 via-purple-400 to-purple-600 h-[320px] w-[320px] aspect-square rounded-full'
      >
        <div
          class='rounded-full h-full w-full bg-slate-100 dark:bg-zinc-900 background-blur-md'
        >
        </div>
      </div>
      <div class='absolute text-[#565078] z-1 m-[70px] text-center'>
        <p class='text-6xl font-extrabold m-auto'>+85 %</p>
        <p class='text-2xl font-extrabold m-auto'>
          de los visitantes son <br />tomadores de decisión
        </p>
      </div>
    </div>
  </div>
  <div
    class='mt-5 grid grid-cols-[repeat(auto-fit,_minmax(150px,_max-content))] justify-center *:grid *:place-items-center *:w-full *:h-full gap-6 *:p-1'
    data-aos='fade-up'
    data-aos-duration='1500'
  >
    {
      buyers.map((buyer) => (
        <a href={buyer.link} target='_blank' rel='noreferrer'>
          <img src={buyer.src} alt={buyer.alt} width={buyer.width} />
        </a>
      ))
    }
  </div>
  <p
    data-aos='fade-up'
    data-aos-duration='1500'
    class='text-2xl font-bold text-right'
  >
    {t('home.entreotros')}
  </p>
</section>
