---
import i18next, { t } from 'i18next'
const lang = i18next.language
const base = i18next.language === 'es' ? '' : `/${lang}`
---

<div class='grid sm:flex sm:justify-between gap-5 text-[5px] xl:text-lg'>
  <a
    href={i18next.language === 'es'
      ? '/directorio-digital'
      : '/en/directorio-digital'}
    class='button w-full py-4 text-white uppercase'
  >
    <span>{t('home.digital_directory')}</span>
  </a>
  <a
    href={i18next.language === 'es'
      ? '/doc/RE-FS-2026-ESP-V2_compressed.pdf'
      : '/doc/RE-FS-2026-ENG-V2_compressed.pdf'}
    target='_blank'
    class='button w-full py-4 text-white uppercase'
  >
    <span>{t('menu.submenu_2.option_6')}</span>
  </a>
  <a
    href={i18next.language === 'es'
      ? '/doc/RE-MEXICO-SPONSORSHIPS-2026-ESP-V2_compressed.pdf'
      : '/doc/RE-MEXICO-SPONSORSHIPS-2026-ENG-V2_compressed.pdf'}
    target='_blank'
    class='button w-full py-4 text-white uppercase'
  >
    {t('menu.submenu_2.option_14')}
  </a>
  <a
    href={i18next.language === 'es'
      ? '/doc/PAVILIONS-RE-MEX-ESP_compressed.pdf'
      : '/doc/PAVILIONS-RE-MEX-ENG_compressed.pdf'}
    class='button w-full py-4 text-white uppercase'
    target='_blank'
  >
    {t('menu.submenu_2.option_15')}
  </a>
  <a
    href='/doc/RE-MEX-2026-072525-2026-Model.pdf'
    target='_blank'
    class='button w-full py-4 text-white'
  >
    {t('menu.submenu_2.option_8')}
  </a>
  {
    /* 
    <a href='/vip-area' class='button w-full py-4 text-white'>
      <span>VIP AREA</span>
    </a>
    <a href={`${base}/energy-night`} class='button w-full py-4 text-white'>
      <span>ENERGY NIGHT</span>
    </a>
    <a
      href={`${base}/contenido-gratuito/installer-innovation-area`}
      class='button w-full py-4 text-white'
    >
      <span>{t('menu.submenu_2.option_13')}</span>
    </a>
    */
  }
</div>

<style>
  .button {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 1rem;
    padding-inline: 1.25rem;
    background: rgb(118, 110, 166);
    background: linear-gradient(
      90deg,
      rgba(118, 110, 166) 0%,
      rgba(86, 80, 120) 100%
    );
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
  }

  .icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
  }

  .button:hover {
    transform: scale(1.05);
    border-color: #fff9;
  }

  .button:hover .icon {
    transform: translate(4px);
  }

  .button:hover::before {
    animation: shine 1.5s ease-out infinite;
  }

  .button::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }

  @keyframes shine {
    0% {
      left: -100px;
    }

    60% {
      left: 100%;
    }

    to {
      left: 100%;
    }
  }
</style>
