---
import { MarqueeReact } from '../components/MarqueeReact'
import { exhibitors } from '../data/constanst_logos'
import { t } from 'i18next'
---

<section class='container mx-auto px-4 my-10'>
  <p class='text-[#565078] text-5xl text-center font-bold p-10'>
    {t('menu.submenu_2.title')} 2025
  </p>
  <div
    class='mt-5 grid grid-cols-[repeat(auto-fit,_minmax(150px,_max-content))] justify-center *:grid *:place-items-center *:w-full *:h-full gap-6 *:bg-white *:rounded-lg *:shadow-lg *:p-1'
    data-aos='fade-up'
    data-aos-duration='1500'
  >
    {
      exhibitors.map((exhibitor) => (
        <a href={exhibitor.link} target='_blank' rel='noreferrer'>
          <img
            src={exhibitor.src}
            alt={exhibitor.alt}
            width={exhibitor.width}
          />
        </a>
      ))
    }
  </div>
</section>
