---
import { t } from 'i18next'
---

<section
  class='bg-no-repeat bg-cover h-screen grid place-content-center text-center relative overflow-hidden'
>
  <video
    src='/video/replusmexicobg.mp4'
    autoplay
    loop
    muted
    class='absolute inset-0 object-cover w-full h-full -z-10'
  >
  </video>
  <div class='absolute inset-0 bg-black/50 -z-5'></div>

  <div class='container mx-auto px-4'>
    <div class='relative flex md:grid md:grid-cols-2 gap-10'>
      <div data-aos='fade-right' data-aos-duration='2000'>
        <img
          src='/img/replusR.webp'
          class='w-48 lg:my-0 my-4'
          alt='Renew Energy Plus 2025'
        />
        <p
          class='mt-5 font-[Tungsten-Medium] text-white text-4xl lg:text-7xl text-left'
        >
          {t('home.event-date')}
          <span class=''>| 2026</span>
        </p>
        <p class='font-[Tungsten-Medium] text-white text-3xl text-left'>
          EXPO GUADALAJARA, JALISCO
        </p>
        <p class='mt-5 text-white text-2xl text-justify'>
          <span class='text-[#565078] sm:text-2xl font-bold my-4'
            >RE+ MEXICO
          </span>
          <span set:html={t('home.solar_description')} />
        </p>
        <img
          src='/img/logosOrganizado.webp'
          class='mt-20 w-[200px] lg:w-[400px]'
        />
      </div>
    </div>
  </div>

  <style>
    p {
      text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
    }

    span {
      color: white;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: white;
    }
    .logoREPLUS {
      filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.8));
    }
  </style>
</section>
