---
import { ParticulasEffect } from '../components/ParticulasEffect.jsx'
import { t } from 'i18next'
---

<section
  class='bg-[#766EA7] bg-no-repeat bg-cover h-screen grid place-content-center text-center relative overflow-hidden'
>
  <ParticulasEffect client:idle />
  <img
    src='/img/topleftballs.webp'
    alt='REPLUS'
    class='pe-5 absolute -top-60 -right-36 fade-in-scale'
  />
  <div class='relative'>
    <img
      src='/img/replusR.webp'
      alt='Logo REPLUS'
      class='logoREPLUS w-24 md:w-40 lg:w-60 mx-auto z-0relative'
    />
  </div>
  <p class='mt-5 font-[Tungsten-Medium] text-white text-4xl lg:text-7xl'>
    {t('home.event-date')}
    <span class=''>| 2026</span>
  </p>
  <p class='font-[Tungsten-Medium] text-white text-3xl'>
    EXPO GUADALAJARA, JALISCO
  </p>
  <img
    src='/img/logosOrganizado.webp'
    class='mt-5 w-[200px] lg:w-[400px] mx-auto'
  />
  <img
    src='/img/topleftballs.webp'
    alt='REPLUS'
    class='pe-5 absolute -bottom-48 -left-36 fade-in-scale'
  />
</section>
<style>
  p {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
  }
  .brillo {
    position: absolute;
    z-index: 2;
    top: -50px;
    right: -150px;
    width: 100%;
    height: 300px;
    background: url('/img/brilloreplus.webp') no-repeat center;
    background-size: contain;
    transform: translate(0, 0);
    opacity: 0;
    -webkit-animation:
      blink 2s infinite 2s none,
      vertical 1s ease-in-out infinite 2s alternate;
    animation:
      blink 2s infinite 2s none,
      vertical 1s ease-in-out infinite 2s alternate;
    margin: 0 auto;
  }
  span {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
  }
  .logoREPLUS {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.8));
  }
  @media (max-width: 768px) {
    .brillo {
      right: 0;
      width: 200px;
    }
  }
  @-webkit-keyframes blink {
    0% {
      opacity: 0.2;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
    }
  }
  @keyframes blink {
    0% {
      opacity: 0.2;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
    }
  }

  @-webkit-keyframes vertical {
    0% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  @keyframes vertical {
    0% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  @keyframes fadeInScale {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .fade-in-scale {
    animation: fadeInScale 2s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fade-in {
    animation: fadeIn 2s ease-in-out;
  }
</style>
