---
import i18next, { t } from 'i18next'
const base = i18next.language === 'es' ? '' : `/${i18next.language}`
---

<section
  class='bg-no-repeat bg-cover h-full md:h-screen grid py-20 text-center relative overflow-hidden'
>
  <video
    src='/video/replusmexicobg.mp4'
    autoplay
    loop
    muted
    class='absolute inset-0 object-cover w-full h-full -z-10'
  >
  </video>
  <div
    class='absolute inset-0 bg-gradient-to-b from-black/60 via-black/50 to-black/70 -z-10'
  >
  </div>

  <div class='container mx-auto px-4 h-fit'>
    <div class='relative'>
      <div data-aos='fade-right' data-aos-duration='2000'>
        <img
          src='/img/logoREPLUS.webp'
          alt='REPLUS MEXICO'
          class='logoREPLUS w-48 lg:w-60 mx-auto'
        />
        <p
          class='mt-5 font-[Tungsten-Medium] text-white text-5xl lg:text-6xl uppercase font-bold'
        >
          {t('home.slogan')}
        </p>

        <p
          class='mt-5 font-[Tungsten-Medium] text-white text-4xl lg:text-7xl tetext-centert'
        >
          {t('home.event-date')}
          <span class=''>| 2026</span>
        </p>
        <p class='font-[Tungsten-Medium] text-white text-3xl text-center'>
          EXPO GUADALAJARA, JALISCO
        </p>
        <img
          src='/img/logosOrganizado.webp'
          class='mt-5 w-[200px] lg:w-[400px] mx-auto'
        />
      </div>
    </div>

    <div class='grid sm:flex sm:justify-between gap-5 py-10'>
      <div class='w-full group relative'>
        <a
          href={`${base}/programa-premium`}
          target='_blank'
          class='button text-white text-lg lg:text-2xl uppercase relative z-10 font-extrabold'
        >
          <div class='flex items-center gap-3'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              class='h-6 w-6'
              fill='none'
              viewBox='0 0 24 24'
              stroke='currentColor'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2'
                d='M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z'
              ></path>
            </svg>
            <span class='font-bold text-lg'>{t('program.title_1')}</span>
          </div>
        </a>
        <div
          class='relative -top-8 transform mt-2 bg-[#2D315F] text-white text-center text-sm px-4 pt-10 rounded-lg shadow-lg hidden group-hover:block transition pb-2'
        >
          {t('home.text_button_program')}
        </div>
      </div>

      <div class='w-full group relative'>
        <a
          href={`${base}/registro`}
          target='_blank'
          class='button text-white text-lg lg:text-2xl uppercase relative z-10 font-extrabold'
        >
          <div class='flex items-center gap-3'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              class='h-6 w-6'
              fill='none'
              viewBox='0 0 24 24'
              stroke='currentColor'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2'
                d='M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z'
              ></path>
            </svg>
            <span class='font-bold text-lg'>{t('home.free_register')}</span>
          </div>
        </a>
        <div
          class='relative -top-8 transform mt-2 bg-[#2D315F] text-white text-center text-sm px-4 pt-10 rounded-lg shadow-lg hidden group-hover:block transition pb-2'
        >
          {t('home.text_button_registro')}
        </div>
      </div>

      <div class='w-full group relative'>
        <a
          href={`${base}/energy-night`}
          class='button text-white text-lg lg:text-2xl uppercase relative z-10 font-extrabold'
        >
          <div class='flex items-center gap-3'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              class='h-6 w-6'
              fill='none'
              viewBox='0 0 24 24'
              stroke='currentColor'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2'
                d='M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z'
              ></path>
            </svg>
            <span class='font-bold text-lg'>ENERGY NIGHT</span>
          </div>
        </a>
        <div
          class='relative -top-8 transform bg-[#2D315F] text-white text-center text-sm px-4 pt-10 rounded-lg shadow-lg hidden group-hover:block transition pb-2'
        >
          {t('home.text_button_energy')}
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .button {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 1rem;
    padding-inline: 1.25rem;
    background: #4e549f;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 10px;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
  }

  .button:hover {
    transform: scale(0.85);
    border-color: #fff9;
  }

  .button:hover .icon {
    transform: translate(4px);
  }

  .button:hover::before {
    animation: shine 1.5s ease-out infinite;
  }

  .button::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }

  p {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
  }

  span {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
  }
  .logoREPLUS {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.8));
  }

  @keyframes shine {
    0% {
      left: -100px;
    }

    60% {
      left: 100%;
    }

    to {
      left: 100%;
    }
  }
</style>
