---
import i18next, { t } from 'i18next'
import { MarqueeReact } from './MarqueeReact'
import {
  aliados1,
  aliados2,
  Broadcasting1,
  Broadcasting2,
} from '../data/constanst_aliados'
---

<section class='py-10'>
  <p class='text-[#6C757D] font-bold text-4xl text-center py-10'>
    {t('home.organized_by')} :
  </p>
  <div class='grid place-items-center lg:flex justify-around gap-10'>
    <img
      src='/img/italianExhibitionGroup.webp'
      alt='Logo Italian Exhibition Gropup'
      class='w-[150px] h-[82px] my-auto'
    />
    <img
      src='/img/deutscheMesse.webp'
      alt='Logo DeutscheMesse'
      class='w-[250px] h-[54px] my-auto'
    />
    <img
      src='/img/RE_Events_orange.webp'
      alt='Logo RE Events Orange'
      class='w-[100px] h-[80px] my-auto'
    />
    <img
      src='/img/snec-logo-new.webp'
      alt='Logo DeutscheMesse'
      class='w-[228px] h-[114px] my-auto'
    />
  </div>
  <p class='text-[#6C757D] font-bold text-4xl text-center py-10'>
    {t('home.powered_by')}
  </p>
  <div class='grid place-items-center gap-10 lg:flex justify-around'>
    <img
      src='/img/amif.webp'
      alt='Logo amif'
      class='w-[200px] h-[59px] my-auto'
    />
    <img
      src='/img/asolmex.webp'
      alt='Logo Asolmex'
      class='w-[150px] h-[150px] my-auto'
    />
    <img
      src='/img/seiaSolarEnergy.webp'
      alt='Logo seia Solar Energy'
      class='w-[200px] h-[62px] my-auto'
    />
    <img
      src='/img/SmartElectric.webp'
      alt='Logo Smart Electric'
      class='w-[200px] h-[62px] my-auto'
    />
  </div>
  <p class='text-[#6C757D] font-bold text-4xl text-center py-10'>
    {t('home.strategic_partners')} :
  </p>
  <MarqueeReact images={aliados1} , direction='left' client:only='react' />
  <MarqueeReact images={aliados2} client:only='react' />
  <div
    class='mt-10 title font-bold text-3xl text-center mx-auto text-white w-fit rounded-full p-2'
  >
    {t('home.media_platinum')}
  </div>
  <div
    class='container m-auto px-4 mt-5 grid place-items-center gap-10 lg:flex justify-around'
  >
    <img
      src='/img/aliadosEstrategicos/Broadcasting1/Energy-Commerce.webp'
      alt='Energy Commerce'
      width='200'
    />
    <img
      src='/img/aliadosEstrategicos/Broadcasting1/pv-magazine-group.webp'
      alt='PV Magazine Group'
      width='200'
    />
    <img
      src='/img/aliadosEstrategicos/Broadcasting2/global-energy-v2.webp'
      alt='Global Energy'
      width='200'
    />
    <img
      src='/img/aliadosEstrategicos/Broadcasting2/global-industries_v2.webp'
      alt='Global Industries'
      width='200'
    />
    <img
      src='/img/aliadosEstrategicos/Broadcasting2/VanguardiaIndustrial.webp'
      alt='Vanguardia Industrial'
      width='200'
    />
  </div>
  <div
    class='container m-auto px-4 mt-5 grid place-items-center gap-10 lg:flex justify-around'
  >
    <img
      src='/img/aliadosEstrategicos/Broadcasting1/industria360.webp'
      alt='Industria 360'
      width='200'
    />
    <img
      src='/img/aliadosEstrategicos/Broadcasting1/heraldoHorizontal.webp'
      alt='Heraldo'
      width='200'
    />
    <img
      src='/img/aliadosEstrategicos/Broadcasting1/gerencia_ambiental.webp'
      alt='Heraldo'
      width='200'
    />
    <img
      src='/img/aliadosEstrategicos/Broadcasting1/cuatroCero.webp'
      alt='Heraldo'
      width='200'
    />
  </div>
  <div
    class='mt-10 title font-bold text-3xl text-center mx-auto text-white w-fit rounded-full p-2'
  >
    {t('home.media_gold')}
  </div>
  <div
    class='container m-auto px-4 mt-5 grid place-items-center gap-10 lg:flex justify-around'
  >
    <img
      src='/img/aliadosEstrategicos/Broadcasting1/made-in-china.webp'
      alt='Made in China'
      width='250'
    />
    <img
      src='/img/aliadosEstrategicos/Broadcasting2/industrynewsmx.webp'
      alt='Industry news MX'
      width='180'
    />
    <img
      src='/img/aliadosEstrategicos/Broadcasting1/mexicoIndustry.webp'
      alt='Mexico Industry'
      width='180'
    />
    <img
      src='/img/aliadosEstrategicos/Broadcasting1/EnergiaHoy.webp'
      alt='Energia hoy'
      width='200'
    />
  </div>
  <div
    class='container m-auto px-4 mt-5 grid place-items-center gap-10 lg:flex justify-around'
  >
    <img
      src='/img/aliadosEstrategicos/Broadcasting1/factor-energetico.webp'
      alt='Factor Energetico'
      width='200'
    />
    <img
      src='/img/aliadosEstrategicos/Broadcasting2/GreentologyV2.webp'
      alt='Greentology'
      width='200'
    />
    <img
      src='/img/aliadosEstrategicos/Broadcasting2/dpl.webp'
      alt='DPL NEWS'
      width='200'
    />
    <img
      src='/img/aliadosEstrategicos/Broadcasting2/empresas-verdes.webp'
      alt='Empresas Verdes'
      width='200'
    />
    <img
      src='/img/aliadosEstrategicos/Broadcasting2/revistaConsultoria.webp'
      alt='Energia Estrategica'
      width='200'
    />
    <img
      src='/img/aliadosEstrategicos/Broadcasting1/EFE.webp'
      alt='EFE'
      width='200'
    />
  </div>
</section>
<style>
  .title {
    background-image: linear-gradient(
      90deg,
      rgba(188, 1, 0, 1) 0%,
      rgba(215, 105, 1, 1) 100%
    );
  }
</style>
