<section class='relative'>
	<hr class='m-5 border-black' />
	<p class='text-3xl font-bold text-center my-10 text-[#ed6b06]'>
		NUMERALIA DE RESULTADOS RE+ MEXICO 2024
	</p>
	<div class='relative'>
		<div class='flex py-10'>
			<div class='flex absolute gap-[200px] mt-32 ml-[60px] justify-start'>
				<div
					id='paralelogramo'
					class='forma w-[250px] p-2 text-white text-center'
				>
					<p class='letra text-4xl font-bold'>8,000</p>
					<p class='letra text-lg'>Visitantes Profesionales de 40 países</p>
				</div>
				<div
					id='paralelogramo1'
					class='forma w-[250px] px-2 py-4 text-white text-center'
				>
					<p class='letra text-4xl font-bold'>200</p>
					<p class='letra text-2xl'>Expositores</p>
				</div>
				<div
					id='paralelogramo2'
					class='forma w-[250px] px-2 text-white text-center py-6'
				>
					<p class='letra text-4xl font-bold'>13,000 m<sup>2</sup></p>
					<p class='letra text-lg'>De piso expositor</p>
				</div>
				<div class='absolute mt-[300px] w-[100%]'>
					<div
						id='paralelogramo2'
						class='forma w-[300px] p-2 text-white text-center'
					>
						<p class='letra text-6xl font-bold'>+100</p>
						<p class='letra text-lg pt-2'>Conferencias</p>
					</div>
					<div class='m-auto'>
						<div class='flex mt-[200px] gap-[500px] justify-center m-auto'>
							<div
								id='paralelogramo'
								class='forma w-[300px] p-2 text-white '
							>
								<div class='flex justify-start gap-2'>
									<p class='letra text-6xl font-bold'>5</p>
									<div>
										<p class='letra text-lg ml-2'>Talleres</p>
										<p class='letra text-lg ml-2'>Impartidos por</p>
									</div>
								</div>
							</div>
							<div
								id='paralelogramo'
								class='forma w-[300px] px-4 text-white py-5'
							>
								<div class='flex justify-start'>
									<p class='letra text-6xl font-bold'>2</p>
									<p class='letra text-3xl pt-2 my-auto mx-3'>premios</p>
								</div>
								<p class='letra text-xl'>Installers Awards</p>
								<p class='letra text-xl pt-2'>Gender Spotlight Award 2024</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<img src='/img/13.webp' alt='' class='w-[460px]' />
			<img src='/img/14.webp' alt='' class='w-[460px]' />
			<img src='/img/15.webp' alt='' class='w-[460px]' />
		</div>
		<img
			src='/img/11.webp'
			alt=''
			class='z-0 opa '
		/>
	</div>
</section>
<style>
	#paralelogramo {
		background: rgb(197, 85, 158);
		background: linear-gradient(
			90deg,
			rgba(197, 85, 158, 1) 0%,
			rgba(92, 36, 118, 1) 100%
		);
		transform: skewX(-20deg);
	}
	#paralelogramo1 {
		background: rgb(64, 83, 62);
		background: linear-gradient(
			90deg,
			rgba(64, 83, 62, 1) 0%,
			rgba(148, 171, 132, 1) 100%
		);
		transform: skewX(-20deg);
	}
	#paralelogramo2 {
		background: rgb(226, 107, 92);
		background: linear-gradient(
			90deg,
			rgba(226, 107, 92, 1) 0%,
			rgba(164, 67, 143, 1) 100%
		);

		transform: skewX(-20deg);
	}
	.letra {
		transform: skewX(20deg);
	}
</style>
