<section class='relative'>
  <p class='text-3xl font-bold text-center my-10 text-[#ed6b06]'>
    HIGHLIGHTS 2024
  </p>
  <div class='relative'>
    <div class='grid lg:grid-cols-3 my-20 gap-10'>
      <div class='relative grid place-items-center'>
        <img src='/img/13.webp' alt='' class='w-full' />
        <div
          id='paralelogramo'
          class='forma w-1/2 ml-10 p-2 text-white text-center justify-start lg:absolute lg:bottom-[-90px]'
        >
          <p class='letra text-4xl font-bold'>8,000</p>
          <p class='letra text-lg'>Visitantes Profesionales de 40 países</p>
        </div>
      </div>
      <div class='relative grid place-items-center'>
        <img src='/img/14.webp' alt='' class='w-full' />
        <div
          id='paralelogramo1'
          class='forma w-1/2 px-2 py-4 text-white text-center lg:absolute lg:bottom-[-90px]'
        >
          <p class='letra text-4xl font-bold'>200</p>
          <p class='letra text-2xl'>Expositores</p>
        </div>
      </div>
      <div class='relative grid place-items-center'>
        <img src='/img/15.webp' alt='' class='w-full' />
        <div
          id='paralelogramo2'
          class='forma w:1/2 px-2 text-white text-center py-6 lg:absolute lg:bottom-[-90px]'
        >
          <p class='letra text-4xl font-bold'>
            13,000 m<sup>2</sup>
          </p>
          <p class='letra text-lg'>De piso expositor</p>
        </div>
      </div>
    </div>

    <div
      class='flex absolute gap-[50px] lg:gap-[180px] mt-32 lg:ml-[60px] justify-center'
    >
      <div class='absolute mt-[250px] w-[100%]'>
        <div
          id='paralelogramo2'
          class='forma w-[350px] p-7 text-white text-center'
        >
          <p class='letra text-8xl font-bold'>+100</p>
          <p class='letra text-xl font-bold pt-1'>Conferencias</p>
        </div>
        <div class='mx-32'>
          <div class='flex mt-[150px] gap-[150px] mx-auto'>
            <div
              id='paralelogramo'
              class='flex file:forma w-[900px] gap-5 p-5 text-white justify-center'
            >
              <div class=''>
                <img
                  src='/img/iconos-resultados/5Talleres.webp'
                  alt='logo 5 talleres'
                  class='letra w-[300px]'
                />
                <div class='flex justify-center'>
                  <img
                    src='/img/iconos-resultados/redMujeres.webp'
                    alt='Logo red Mujeres'
                    class='letra w-[150px]'
                  />
                  <img
                    src='/img/iconos-resultados/S5.webp'
                    alt='logo de S5'
                    class='letra w-[150px]'
                  />
                </div>
              </div>

              <div class='my-auto'>
                <img
                  src='/img/iconos-resultados/LONGI.webp'
                  alt='logo de Longi'
                  class='letra w-[180px] py-3'
                />
                <img
                  src='/img/iconos-resultados/EUPD.webp'
                  alt='logo de EUPD Research'
                  class='letra w-[180px] py-3'
                />
                <img
                  src='/img/iconos-resultados/IBESA.webp'
                  alt='logo de Ibesa'
                  class='letra w-[180px] py-3'
                />
              </div>
            </div>
            <div
              id='paralelogramo'
              class='forma w-[500px] px-4 text-white py-5 my-auto'
            >
              <div class='flex justify-center'>
                <p class='letra text-7xl font-bold'>2</p>
                <p class='letra text-4xl pt-2 my-auto mx-3'>premios</p>
              </div>
              <p class='letra text-2xl mx-auto'>Installers Awards</p>
              <p class='letra text-2xl pt-2 mx-auto'>
                Gender Spotlight Award 2024
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <img src='/img/11.webp' alt='' class='z-0 opa' />
  </div>

  <style>
    #paralelogramo {
      background: rgb(197, 85, 158);
      background: linear-gradient(
        90deg,
        rgba(197, 85, 158, 1) 0%,
        rgba(92, 36, 118, 1) 100%
      );
      transform: skewX(-20deg);
    }
    #paralelogramo1 {
      background: rgb(64, 83, 62);
      background: linear-gradient(
        90deg,
        rgba(64, 83, 62, 1) 0%,
        rgba(148, 171, 132, 1) 100%
      );
      transform: skewX(-20deg);
    }
    #paralelogramo2 {
      background: rgb(226, 107, 92);
      background: linear-gradient(
        90deg,
        rgba(226, 107, 92, 1) 0%,
        rgba(164, 67, 143, 1) 100%
      );

      transform: skewX(-20deg);
    }
    .letra {
      transform: skewX(20deg);
    }
  </style>
</section>
