---
import i18next, { t } from 'i18next'
---

<section
  class='bg-gradient-to-r from-[#766EA6] to-[#565078] text-white py-10 relative'
>
  <div class='absolute inset-0 overflow-hidden'>
    <div
      data-aos='fade-up'
      data-aos-duration='1300'
      class='absolute top-10 right-10 w-32 h-32 bg-white bg-opacity-10 rounded-full'
    >
    </div>
    <div
      data-aos='fade-up'
      data-aos-duration='1300'
      class='absolute bottom-20 left-10 w-24 h-24 bg-white bg-opacity-5 rounded-full'
    >
    </div>
    <div
      data-aos='fade-up'
      data-aos-duration='1300'
      class='absolute top-52 left-52 w-16 h-16 bg-white bg-opacity-10 rounded-full'
    >
    </div>
    <div
      data-aos='fade-up'
      data-aos-duration='1300'
      class='absolute top-10 left-32 w-32 h-32 bg-white bg-opacity-10 rounded-full'
    >
    </div>
    <div
      data-aos='fade-up'
      data-aos-duration='1300'
      class='absolute top-96 left-10 w-32 h-32 bg-white bg-opacity-10 rounded-full'
    >
    </div>
    <div
      data-aos='fade-up'
      data-aos-duration='1300'
      class='absolute bottom-32 right-32 w-24 h-24 bg-white bg-opacity-5 rounded-full'
    >
    </div>
    <div
      data-aos='fade-up'
      data-aos-duration='1300'
      class='absolute top-64 right-64 w-16 h-16 bg-white bg-opacity-10 rounded-full'
    >
    </div>
  </div>
  <p
    data-aos='fade-up'
    data-aos-duration='1300'
    class='text-center p-5 text-4xl font-bold'
  >
    RE+ MEXICO STANDS
  </p>
  <p
    data-aos='fade-up'
    data-aos-duration='1300'
    class='text-center m-5 text-xl italic'
    set:html={t('home.rates.sub-title')}
  />
  <div
    class='mt-10 max-w-screen-xl grid md:grid-cols-2 justify-center my-5 gap-32 mx-auto'
  >
    <div
      data-aos='fade-up'
      data-aos-duration='1300'
      class='bg-[#9F96BF] rounded-3xl shadow-lg text-white relative'
    >
      <div class='grid xl:grid-cols-2 xl:h-96 justify-center'>
        <div
          class='py-10 2xl:py-20 px-4 flex flex-col items-center justify-between'
        >
          <h5
            class='text-3xl font-extrabold text-center'
            set:html={t(`home.rates.item1.title1`)}
          />
          <div class='text-center'>
            <p class='text-2xl'>{t(`home.rates.item1.price2-title`)}</p>
            <hr />
            <p class='text-3xl font-semibold'>USD 460.00 +</p>
            <span class='ms-1 text-xl font-normal'
              >{t(`home.rates.item1.price1`)}</span
            >
          </div>
        </div>

        <img
          src='/img/stand_1.webp'
          alt='stand espacio libre'
          class='w-80 xl:absolute -top-6 -right-6 drop-shadow-2xl'
        />
      </div>
      <div class='p-4 text-center'>
        <p class='text-xl font-bold mb-2'>
          {t('home.rates.item1.title2')}
        </p>
        <p class='text-xl font-bold'>
          {t('home.rates.item1.topic3')}
        </p>
      </div>
    </div>

    <div
      data-aos='fade-up'
      data-aos-duration='1300'
      class='bg-[#9F96BF] rounded-3xl shadow-lg text-white relative'
    >
      <div class='grid xl:grid-cols-2 xl:h-96 justify-center'>
        <div
          class='py-10 2xl:py-20 px-4 flex flex-col items-center justify-between'
        >
          <h5
            class='text-3xl font-extrabold text-center'
            set:html={t(`home.rates.item2.title1`)}
          />
          <div class='text-center'>
            <p class='text-2xl'>{t(`home.rates.item2.price2-title`)}</p>
            <hr />
            <p class='text-3xl font-semibold'>USD 515.00 +</p>
            <span class='ms-1 text-xl font-normal'
              >{t(`home.rates.item2.price1`)}</span
            >
          </div>
        </div>
        <img
          src='/img/stand_2.webp'
          alt='stand espacio libre'
          class='w-80 xl:absolute -top-6 -right-6 drop-shadow-2xl'
        />
      </div>
      <div class='p-4 text-center'>
        <p class='text-xl font-bold'>
          {t('home.rates.item2.title2')}
        </p>
      </div>
    </div>
  </div>

  <div
    class='mt-10 container mx-auto px-4 flex justify-center gap-5 text-[5px] xl:text-lg'
    data-aos='fade-up'
    data-aos-duration='1300'
  >
    <a
      href={i18next.language === 'es'
        ? '/doc/RE-FS-2026-ESP-V2_compressed.pdf'
        : '/doc/RE-FS-2026-ENG-V2_compressed.pdf'}
      target='_blank'
      class='button w-fit py-4 text-white uppercase'
    >
      <span>{t('menu.submenu_2.option_6')}</span>
    </a>
    <a
      href='/doc/RE-MEX-2026-100625-Model-1.pdf'
      target='_blank'
      class='button w-fit py-4 text-white uppercase'
    >
      {t('menu.submenu_2.option_8')}
    </a>
  </div>
</section>

<style>
  .button {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 1rem;
    padding-inline: 1.25rem;
    background: rgb(118, 110, 166);
    background: linear-gradient(
      90deg,
      rgba(118, 110, 166) 0%,
      rgba(86, 80, 120) 100%
    );
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
  }

  .icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
  }

  .button:hover {
    transform: scale(1.05);
    border-color: #fff9;
  }

  .button:hover .icon {
    transform: translate(4px);
  }

  .button:hover::before {
    animation: shine 1.5s ease-out infinite;
  }

  .button::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }

  @keyframes shine {
    0% {
      left: -100px;
    }

    60% {
      left: 100%;
    }

    to {
      left: 100%;
    }
  }
</style>
