---
import { t } from 'i18next'
---

<section class='bg-red-100 mt-28 text-center'>
  <p class='p-5 text-3xl font-bold text-[#565078]'>{t('home.testimonial')}</p>
  <div class='grid lg:grid-cols-2'>
    <div
      class='div my-5 bg-white m-auto rounded-tl-[80px] rounded-br-[80px] overflow-hidden relative group p-2 z-0'
    >
      <div
        class='circle absolute h-[7em] w-[7em] -top-[2.5em] -right-[2.5em] rounded-full bg-[#565078] group-hover:scale-[1150%] duration-500 z-[-1]'
      >
      </div>
      <div class='grid lg:flex justify-center gap-4 my-4'>
        <img
          src='/img/112.webp'
          alt='Ulises Alcázar'
          class='w-[150px] h-[150px] my-10 mx-3'
        />
        <div>
          <p
            class='text-base my-10 w-[300px] z-20 font-Poppin group-hover:text-white duration-500'
          >
            {t('home.text_1')}<br /><br />
            <strong class='my-3'>Ulises Alcázar</strong><br />{t('home.text_2')}
          </p>
        </div>
      </div>
    </div>
    <div
      class='div my-5 bg-white m-auto rounded-tl-[80px] rounded-br-[80px] overflow-hidden relative group p-2 z-0'
    >
      <div
        class='circle absolute h-[7em] w-[7em] -top-[2.5em] -right-[2.5em] rounded-full bg-[#565078] group-hover:scale-[1150%] duration-500 z-[-1]'
      >
      </div>
      <div class='grid lg:flex justify-center gap-4'>
        <img
          src='/img/113.webp'
          alt='Alberto Morales'
          class='w-[150px] h-[150px] my-10 mx-3'
        />
        <div>
          <p
            class='text-base my-10 w-[300px] z-20 font-Poppin group-hover:text-white duration-500'
          >
            {t('home.text_3')}<br /><br />
            <strong class='my-3'>Alberto Morales</strong><br />{
              t('home.text_4')
            }
          </p>
        </div>
      </div>
    </div>
    <div
      class='div bg-white m-auto rounded-tl-[80px] rounded-br-[80px] overflow-hidden relative group p-2 z-0'
    >
      <div
        class='circle absolute h-[7em] w-[7em] -top-[2.5em] -right-[2.5em] rounded-full bg-[#565078] group-hover:scale-[1150%] duration-500 z-[-1]'
      >
      </div>
      <div class='grid lg:flex justify-center gap-4 my-6'>
        <img
          src='/img/114.webp'
          alt='Joel Corral '
          class='w-[150px] h-[150px] my-10 mx-3'
        />
        <div>
          <p
            class='text-base my-10 w-[300px] z-20 font-Poppin group-hover:text-white duration-500'
          >
            {t('home.text_5')}<br /><br />
            <strong class='my-3'>Joel Corral </strong><br />{t('home.text_6')}
          </p>
        </div>
      </div>
    </div>
    <div
      class='my-5 mx-auto bg-white rounded-tl-[80px] rounded-br-[80px] overflow-hidden relative group p-2 z-0'
    >
      <div
        class='circle absolute h-[7em] w-[7em] -top-[2.5em] -right-[2.5em] rounded-full bg-[#565078] group-hover:scale-[1150%] duration-500 z-[-1]'
      >
      </div>
      <div class='grid lg:flex justify-center gap-4 my-6'>
        <img
          src='/img/115.webp'
          alt='Giselle Cazares'
          class='w-[150px] h-[150px] my-10 mx-3'
        />
        <div>
          <p
            class='text-base my-10 w-[300px] z-20 font-Poppin group-hover:text-white duration-500'
          >
            {t('home.text_7')}<br /><br />
            <strong class='my-3'>Giselle Cazares</strong><br />{
              t('home.text_6')
            }
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
