<section class='bg-red-100 mt-28 text-center'>
  <p class='p-5 text-3xl font-bold text-[#FF5800]'>TESTIMONIALES</p>
  <div class='grid lg:grid-cols-2'>
    <div
      class='div my-5 h-[350px] w-[500px] bg-white m-auto rounded-tl-[80px] rounded-br-[80px] overflow-hidden relative group p-2 z-0'
    >
      <div
        class='circle absolute h-[7em] w-[7em] -top-[2.5em] -right-[2.5em] rounded-full bg-[#FF5800] group-hover:scale-[1150%] duration-500 z-[-1]'
      >
      </div>
      <div class='flex justify-center gap-4 my-4'>
        <img
          src='/img/112.webp'
          alt='Ulises Alcázar'
          class='w-[150px] h-[150px] my-10 mx-3'
        />
        <div>
          <p
            class='text-base my-10 w-[300px] z-20 font-Poppin group-hover:text-white duration-500'
          >
            “Estamos muy contentos de participar por segunda vez en SSM, la
            verdad es que nos fue muy bien. Estamos súper contentos de recibir a
            nuestros clientes, de platicar con nuestros colegas, y hacia un
            futuro con más un futuro sostenible”<br /><br />
            <strong class='my-3'>Ulises Alcázar</strong><br />Ingeniero de
            Producto de Huawei Technologies de México
          </p>
        </div>
      </div>
    </div>
    <div
      class='div h-[350px] w-[500px] bg-white m-auto rounded-tl-[80px] rounded-br-[80px] overflow-hidden relative group p-2 z-0'
    >
      <div
        class='circle absolute h-[7em] w-[7em] -top-[2.5em] -right-[2.5em] rounded-full bg-[#FF5800] group-hover:scale-[1150%] duration-500 z-[-1]'
      >
      </div>
      <div class='flex justify-center gap-4'>
        <img
          src='/img/113.webp'
          alt='Alberto Morales'
          class='w-[150px] h-[150px] my-10 mx-3'
        />
        <div>
          <p
            class='text-base my-10 w-[300px] z-20 font-Poppin group-hover:text-white duration-500'
          >
            “Somos distribuidores de equipo fotovoltaico. Estamos muy
            satisfechos con los resultados que hemos obtenido con esta
            exposición. Es un lugar increíble y muy adecuado para tener conexión
            con nuestros clientes y proveedores. Vale la pena. Lo recomiendo y
            esperamos que esto se siga dando y creciendo”.<br /><br />
            <strong class='my-3'>Alberto Morales</strong><br />Director General
            de Tiga Power
          </p>
        </div>
      </div>
    </div>
    <div
      class='div h-[350px] w-[500px] bg-white m-auto rounded-tl-[80px] rounded-br-[80px] overflow-hidden relative group p-2 z-0'
    >
      <div
        class='circle absolute h-[7em] w-[7em] -top-[2.5em] -right-[2.5em] rounded-full bg-[#FF5800] group-hover:scale-[1150%] duration-500 z-[-1]'
      >
      </div>
      <div class='flex justify-center gap-4 my-6'>
        <img
          src='/img/114.webp'
          alt='Joel Corral '
          class='w-[150px] h-[150px] my-10 mx-3'
        />
        <div>
          <p
            class='text-base my-10 w-[300px] z-20 font-Poppin group-hover:text-white duration-500'
          >
            “Estuvieron muy buenas las conferencias, con información muy
            valiosa, fue muy interesante conocer las experiencias y
            conocimientos de expertos de la industria, hubo bastantes
            conferencistas internacionales”.<br /><br />
            <strong class='my-3'>Joel Corral </strong><br />Visitante
          </p>
        </div>
      </div>
    </div>
    <div
      class='my-5 mx-auto h-[350px] w-[500px] bg-white rounded-tl-[80px] rounded-br-[80px] overflow-hidden relative group p-2 z-0'
    >
      <div
        class='circle absolute h-[7em] w-[7em] -top-[2.5em] -right-[2.5em] rounded-full bg-[#FF5800] group-hover:scale-[1150%] duration-500 z-[-1]'
      >
      </div>
      <div class='flex justify-center gap-4 my-6'>
        <img
          src='/img/115.webp'
          alt='Giselle Cazares'
          class='w-[150px] h-[150px] my-10 mx-3'
        />
        <div>
          <p
            class='text-base my-10 w-[300px] z-20 font-Poppin group-hover:text-white duration-500'
          >
            “Me pareció una gran expo. Hay demasiadas personas y soluciones
            innovadoras. Baterías, módulos fotovoltaicos, inversores, puedes
            encontrar de todo tipo. Lo recomiendo bastante”.<br /><br />
            <strong class='my-3'>Giselle Cazares</strong><br />Visitante
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
